/* Universal Styles */
html {
  font-family: "Poppins", sans-serif;
  color: #4A4A4A;
  font-size: 16px;
}

body {
  min-width: 320px;
  width: 100%;
  background-color: #FFFFFF;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.white-background {
  background-color: #FFFFFF;
}

.grey-background {
  background-color: #D8D8D8;
}

.main {
  max-width: 2560px;
  margin: 0 auto;
}

/* Universal Styles - Media Queries */

@media only screen and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 760px) {
  /* #menu li a {
    font-size: 0.75rem;
  } */
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 480px) {

  html {
    font-size: 16px;
  }

  .section-item {
    background-color: #FFFFFF;
    border-bottom: 1px solid #D8D8D8;
  }

  .hidden {
    display: none;
  }

  .media-text h2 {
    font-size: 1.5rem;
  }
}

/* Header and Navigation bar*/
header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1.5rem;
}

header h2 {
  font-size: 1.5em;
}

header a {
  font-size: 1em;
}

#logo {
  display: flex;
  padding-left: 24px;
  align-items: center;
}

#mid-name {
  color: #9B9B9B;
}

ul > li {
  display: inline;
  margin-right: 16px;
}

ul >li:last-child {
  margin-right: 24px;
}

ul a:active {
  color: #9B9B9B;
}

ul a:hover {
  text-decoration: underline;
}

header #mobile-menu {
  display:none;
}

/* Header and Navigation bar - Media Queries*/
@media only screen and (max-width: 480px) {
  #logo h2 {
      display: none;
  }

  header {
    justify-content: center;
  }

  #logo,
  header #desktop-menu {
    display: none;
  }

  header #mobile-menu {
    display:flex;
    justify-content: space-around;
    width: 100%;
  }
}

/* Main article - banner */
#banner {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

#banner h1 {
  font-size: 2.5em;
}

#banner h2 {
  font-size: 1.5em;
}

#banner h3 {
  font-size: 1.2em;
}
.aside-container {
  display: flex;
  align-items: center;
  width: 40%;
}

.media-container {
  width: 60%;
  max-width: 960px;
  margin: 32px 24px;
  border-radius: 16px;
  box-shadow: 5px 5px 5px #777777;
  height: auto;
  overflow: hidden;
}

.media-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.media-text {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.media-text h1 {
  margin-bottom: 32px;
  font-weight: bold;
}

.media-text h2 {
  margin-bottom: 32px;
}

#btn-start {
  background-color: #4A4A4A;
  color: white;
  text-align: center;
  width: 100%;
  border-radius: 4.8px;
  transition: background-color 500ms ease-out, color 500ms ease-out;
}

#btn-start:hover {
  background-color: white;
  color: #4A4A4A;
}

#btn-start:active {
  box-shadow: 3px 3px 3px #777777;
  color: #9B9B9B;
}

#btn-start h3 {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Main article - banner - Media Queries */
@media only screen and (max-width: 480px) {
  #banner {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .media-text {
    display: flex;
    flex-direction: column;
    width: 95%;
  }

  .aside-container {
    width: 100%;
    justify-content: center;
  }

  .media-container {
    width: 100%;
    margin-top: 0rem;
    border-radius: 0;
    box-shadow: none;
    height: auto;
    overflow: hidden;
  }

  #btn-start {
    margin-bottom: 32px;
  }
}

@media only screen and (max-width: 760px) {
}

/* Information section */

#mobile-img1,
#mobile-img2,
#mobile-img3 {
  display: none;
}

.main-container {
  font-size: 1.5rem;
}

.main-container h2 {
  font-size: 1.2em;
}

.main-container h3 {
  font-size: 0.75em;
}

.main-container {
  margin-top: 32px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.main-container .media-container {
   margin-top: 0rem ;
   border-radius: unset;
   box-shadow: none;
 }

 blockquote h2 {
   margin: 16px 0px 24px 0px;
   font-weight: bold;
 }

 blockquote footer {
   font-weight: bold;
   margin-top: 32px;
   border: none;
 }

.side-right {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.news {
  display: flex;
  align-items: center;
  transition: background-color 500ms ease-out;
}

.news:hover {
  background-color: #D8D8D8;
}

.news .media-container,
.small-media-container {
  height: auto;
  overflow: hidden;
  width: 35%;
  margin: 16px;
}

.news .media-container:first-child {
  margin-top: 0px;
}

.small-media-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.news .media-text {
  width: 65%;
}

.news .media-text h2 {
  font-weight: bold;
  margin-bottom: 8px;
}

.news .media-text h3 {
  margin-bottom: 8px;
}

.news .media-text a {
  color: #4483CE;
}

.news .media-text a:hover {
  text-decoration: underline;
}

.news .media-text a:active {
  color: #0B5EC2;
}

.side-right .news:last-child {
  margin-bottom: 32px;
}

/* Information section - Media Queries */
@media only screen and (max-width: 480px) {
  .main-container {
    margin-top: 16px;
  }

  #desktop-img1,
  #desktop-img2,
  #desktop-img3 {
    display: none;
  }

  #mobile-img1,
  #mobile-img2,
  #mobile-img3 {
    display: block;
  }

  .side-right {
    width: 100%;
  }

  .news {
    flex-direction: column;
    padding: 0px 16px;
  }

  .news .media-container,
  .news .small-media-container {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 56px;;
  }

  .news .media-text {
    width: 100%;
  }

  .side-right .news:last-child {
    background-color: #FFFFFF;
  }
}

/* section-item section */
.section-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.section-item h1 {
  padding: 32px 0px 16px 0px;
  font-weight: bold;
}

#courses-container {
  padding: 0px 72px;
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course h2 {
  font-size: 1.2em;
}

.course h3 {
  font-size: 1em;
}

.course {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin: 16px 16px 16px 0px;
  width: 30%;
  max-width: 525px;
  transition: box-shadow 500ms ease-out;
}

.course:hover {
  box-shadow: 8px 8px 12px #777777;
}

.course-img {
  overflow: hidden;
}

.course-img img {
  max-width: 100%;
  height: auto;
  display: block;
}

.course-details h2 {
  margin: 16px 0px 8px 16px;
  font-weight: bold;
}

.course-details h3 {
  margin: 8px 0px 8px 16px;
}

.course-details h3:last-child {
  margin-bottom: 24px;
}

/* section-item section - Media Queries */
@media only screen and (max-width: 480px) {
  .section-item {
    background-color: #FFFFFF;
    border-bottom: 1px solid #D8D8D8;
  }

  .section-item #courses-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin: 16px;
  }

  .course {
    margin: 8px 8px 0px 8px;
    background-color: #D8D8D8;
    width: 95%;
  }

  .course-details h2 {
    margin-bottom: 24px;
    font-weight: normal;
  }

  .course-details h3 {
    display: none;
  }

  #courses-container .course:last-child {
    margin-bottom: 24px;
  }
}

/* Thesis section */

.news.grey-background .media-container {
  margin-top: 16px;
}

.media-container video {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Thesis section - Media Queries */
@media only screen and (max-width: 480px) {
  .section-item blockquote {
    display: none;
  }

  .main-container .hidden {
    display: none;
  }

  .main-container .media-container {
    margin: 0px 0px 24px 0px;
  }
}

/* Footer */
footer {
  height: 4rem;
  border-top: 1px solid #D8D8D8;
  display: flex;
  justify-content: space-between;
}

footer p,
footer nav {
  margin: 1rem 0rem 0rem 1.5rem;
}

/* Footer - Media Queries */
@media only screen and (max-width: 480px) {
  .main section:nth-child(5n) {
    border-bottom: none;
  }

  footer {
    border-top: none;
    font-size: 12px;
  }
}
