/* Universal Styles */
html {
  font-size: 16px;
}

/* TODO: comment this selector */
/* .column-right {
  border: 1px black solid;
} */

body {
  font-family: "Poppins", sans-serif;
  color: #4A4A4A;
  width: 100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Header */
header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
}

#logo {
  display: flex;
  padding-left: 1.5rem;
}

#mid-name {
  color: #9B9B9B;
}

/* Navigation bar */
#menu > li {
  display: inline;
  margin-right: 1rem;
}

#menu >li:last-child {
  margin-right: 1.5rem;
}

#menu li a:active {
  color: #9B9B9B;
}

#menu li a:hover {
  text-decoration: underline;
}

/* Main article - banner */
#banner {
  margin-top: 4rem;
  background-color: #D8D8D8;
  display: flex;
}

.aside-container {
  display: flex;
  align-items: center;
  width: 40%;
}

.media-container {
  width: 60%;
  max-width: 60rem;
  margin: 2rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px #777777;
  height: auto;
  overflow: hidden;
}

.media-container img {
  max-width: 100%;
  height: auto;
  display: block;

}

.media-text {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.media-text h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.media-text h2 {
  margin-bottom: 2rem;
}

#btn-start {
  background-color: #4A4A4A;
  color: white;
  text-align: center;
  width: 100%;
  border-radius: 0.3rem;
}

#btn-start:hover {
  background-color: white;
  color: #4A4A4A;
}

#btn-start:active {
  box-shadow: 3px 3px 3px #777777;
  color: #9B9B9B;
}

#btn-start h3 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Information section */
#information {
  margin-top: 2rem;
  background-color: #FFFFFF;
  display: flex;
}
 #information .media-container {
   margin-top: 0rem ;
   border-radius: unset;
   box-shadow: none;
 }

 blockquote h1 {
   margin: 2rem 0rem 1.5rem 0rem;
   font-size: 3rem;
   font-weight: bold;
 }

 blockquote footer {
   font-weight: bold;
   margin-top: 2rem;
 }

.side-right {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.news {
  display: flex;
  align-items: center;
}

.news .media-container,
.small-media-container {
  height: auto;
  overflow: hidden;
  width: 35%;
  margin: 1rem;
}

.small-media-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.news .media-text {
  width: 65%;
}

.news .media-text h1 {
  font-weight: normal;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.news .media-text h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.news .media-text a {
  color: #4483CE;
}

.news .media-text a:hover {
  text-decoration: underline;
}

.news .media-text a:active {

}

.side-right .news:last-child {
  background-color: #D8D8D8;
}
